<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>

        <tr>
            <th> Nome </th>
            <th> Preço </th>
            <th> Categoria </th>
        </tr>

        {% for item in itens %}
        <tr>
            <td>{{ item.nome }} </td>
            <td> {{ item.preco }} </td>
            <td> {{item.categoria }} </td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>